/* Main Layout */
header{
    width: 100%;
    float: left;
    font-family: Georgia;
    text-align: center;
}
nav{
    width: 20%;
    float: left;
}
main{
    width: 60%;
    float: left;
    font-size: large;
    text-align: center;
    min-height: 400px;
}
main img{
    width: 250px;
    display: block;
    margin: 0 auto;

}
main p{
    margin-top: 30px;
    text-indent: 25px;
}
footer{
    width: 100%;
    float: left;
    text-align: center;
    font-size: small;
    font-weight: bold;
}
table{
    border-collapse: collapse;
    margin: 0 auto;
}

/* Menus */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
li a{
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Menu Hover */

li a:hover{
    background-color: #555555;
    color: white
}
ul{
    border: 1px solid #555555;
}
li{
    text-align: center;
    border-bottom: 1px solid #555555;
}
li:last-child{
    border-bottom: none;
}